@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --main-dark: #cc7351;
    --main-light-dark: #e08f62;
    --main-dark-light: #9dab86;
    --main-light: #ded7b1;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@media screen and (max-width: 1100px) {

    .Home-Container {
        /* background: linear-gradient(to right bottom, rgb(50,50,50), white 500%); */
        background-color: var(--main-light);
        top: 0;
        height: 100vh;
    }

    #home {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Avatar-Container {
        width: 75vw;
        height: 75vw;
        overflow: hidden;
        border-radius: 50%;
        border: 8px solid var(--main-light-dark);
        background-color: var(--main-dark-light);
/*         background: linear-gradient(to bottom , #f8f1f1, black); */
        margin-top: 10px;
        box-shadow: 5px 5px 10px black;
    }

    .Avatar {
        height: 126vw;
        margin-left: 1vw;
        margin-top: -5vw;
    }

    .Titulo {
        font-family: "Lobster";
        color: var(--main-light-dark);
        font-size: 18vw;
        text-align: center;
    }

    .Titulo span {
        text-shadow: 3px 3px 5px black;
    }

    #nombre {
        height: 60px;
    }

    .Subtitulo {
        margin-top: 25px;
        color: var(--main-light-dark);
        font-size: 7vw;
        text-shadow: 2px 2px 5px black;
    }

    .About {
        width: 100vw;
        background-color: var(--main-dark-light);
        padding-top: 1vh;
    }

    .Titanic-Container {
        display: none;
    }

    .Sobre div {
        width: 92vw;
        padding-left: 4vw;
        text-align: justify;
        padding-bottom: 5vh;
        padding-top: 5vh;
    }

    .Sobre h2 {
        color: white;
        text-shadow: 2px 2px 5px black;
    }

    .Projects {
        display: flex;
        justify-content: center;
        background-color: var(--main-light);
        width: 100vw;
        padding-top: 6vh;
    }

    .Projects-Readme {
        width: 92vw;
        text-align: justify;
    }

    .Projects-Readme h2 {
        color: white;
        text-shadow: 2px 2px 5px black;
    }

    .Carrusel-Container {
        width: 100vw;
        background-color: var(--main-light);
        text-align: center;
    }

    .Nav-Container {
        margin: 0;
        top: 0;
        position: sticky;
        height: 9vh;
        background-color: var(--main-dark);
        width: 100vw;
        z-index: 2;
        box-shadow: 2px 0px 5px  black;
    }

    .btnNavbar {
        cursor: pointer;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 4.5vh;
        right: 4vw;
        top: 2.25vh;
        z-index: 2;
        transition: 0.5s;
      }

      .barritaNav {
        height: 5px;
        width: 60px;
        background: white;
        margin: 2px;
        border-radius: 5px;
        transition: 0.5s;
      }

      .x .btna {
        width: 50px;
        background-color: white;
        transform: rotate(0.1turn) translateY(4px) translateX(10px);
        transition: 0.5s;
      }

      .x .btnb {
        width: 0;
        transition: 0.5s;
      }

      .x .btnc {
        width: 50px;
        background-color: white;
        transform: rotate(-0.1turn) translateY(-4px) translateX(10px);
        transition: 0.5s;
      }

      .containerNavList {
        position: fixed;
        transition-property: all;
        transform-origin: left;
        transition: 0.5s;
        width: 112vw;
        height: 110vh;
        background-color: var(--main-dark);
        z-index: 1;
        overflow-y: auto;
      }

      .activeDiv {
        position: fixed;
        transform: translateX(110%);
        transition-property: all;
        transform-origin: left;
        transition: 0.5s;
        width: 103.1vw;
        height: 110vh;
        background-color: rgba(0, 0, 0, 0.199);
        z-index: 1;
      }

      .divListasMobile {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: absolute;
        left: 10px;
        top: 15%;
      }

      .mlP {
        cursor: pointer;
        font-weight: 900;
        color: white;
        font-size: 35px;
        margin-top: 30px;
        margin-left: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.699);
      }
      
      .mlP:active {
        opacity: 0.5;
      }

      .Nav-Img {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-left: 18vw;
          width: 90vw;
          padding-top: 5vw;
      }

      .Nav-Img img {
          width: 25vw;
          margin-left: 1vw;
          padding: 3vw;
      }
}


a {
    text-decoration: none;
    color: white;
}

@keyframes React {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.Titanic {
    height: 120vh;
    margin-left: -32vw;
    animation: React infinite 20s linear;
}

.Skills {
    background-color: #f0f0f0;
    width: 100vw;
    padding-bottom: 10vh;
    padding-top: 10vh;
}

.Skills h2 {
    margin-left: 55px;
}

.Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.Skill-Display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    transition: background-color 2s, transform .5s;
    z-index: 0;
}

.Skill-Display:hover {
    transition: background-color .5s, transform .5s;
    transform: scale(1.2);
    box-shadow: 5px 5px 10px black;
    background-color: var(--main-dark);
    z-index: 1;
}

.Skill-Display img {
    width: 128px;
}

.Skill-Display span {
    font-weight: bold;
}

@media screen and (min-width: 1100px ) {
    .Nav-Container {
        margin: 0;
        top: 0;
        position: sticky;
        height: 9vh;
        background-color: var(--main-dark);
        width: 100vw;
        z-index: 1;
        box-shadow: 0px 3px 10px black;
    }

    .divListasMobile {
        top: 0;
    }

    #divIdList {
        color: white;
        position: absolute;
        right: 50px;
        top: 28px;
        cursor: pointer;
        z-index: 2;
    }

    #divIdList>div {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      top: 0;
      width: 100vw;
    }

    .mlP {
      cursor: pointer;
      font-size: 20px;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 3px;
      transition: transform .5s, text-shadow .5s;
    }

    .mlP:hover {
        border-radius: 5px;
        transition: background-color .3s;
        background-color: var(--main-dark-light);
    }

    .mlP:active {
        box-shadow: 0 0 10 2px white ;
    }

    .Home-Container {
        display: flex;
        background-color: var(--main-light);
        top: 0;
        padding-top: 1vh;
        height: 90vh;
        width: 100vw
    }

    .Avatar {
        height: 90vh;
        padding-left: 15vw;
    }

    .Titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20vh;
        padding-left: 10vw;
    }

    #nombre {
        font-family: "Lobster";
        font-size: 100px;
        color: var(--main-light-dark);
        text-shadow: 3px 3px 5px black;
    }

    .Subtitulo {
        font-size: 38px;
        color: var(--main-light-dark);
        text-shadow: 3px 3px 5px black;
        padding-top: 1vw;
    }

    .About {
        display: flex;
        align-items: center;
        background-color: var(--main-dark-light);
        color: black;
        width: 100vw;
        margin: 0;
        font-size: 20px;
        height: 60vh;
        font-weight: bold;
        overflow: hidden;
    }

    .About h2 {
        color: white;
        text-shadow: 3px 3px 5px black;
    }

    .Sobre {
        width: 60vw;
        margin-right: 10vw;
        padding-left: 5vw;
    }

    .Projects {
        display: flex;
        justify-content: center;
        background-color: var(--main-light);
        width: 100vw;
        padding-top: 10vh;
    }

    .Projects-Readme {
        max-width: 1050px;
    }

    .Projects-Readme p {
        font-size: 20px;
    }

    .Carrusel-Container {
        width: 100vw;
        background-color: var(--main-light);
        text-align: center;
        padding-bottom: 5vh;
    }

    .Nav-Img {
        display: flex;
        align-items: center;
        margin-left: 4vw;
    }

    .Nav-Img img {
        height: 4vh;
        margin-left: 1vw;
    }

    .Nav-Img img:hover {
        cursor: pointer;
        transition: all .3s;
        transform: scale(1.3) translatey(-5px);
    }
}