html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.Nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 9vh;
    background-color: rgba(182, 119, 241, 0.705);
    z-index: 2;
    backdrop-filter: blur(10px);
    box-shadow: 5px 0 10px black;
}

.Nav h3 {
    margin-left: 5vh;
    margin-right: 5vh;
}

.Nav h3:hover {
    text-shadow: 0 0 10px blanchedalmond;
}

.Nav h3:active {
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

.language:hover {
    cursor: pointer;
}

.Nav-Img {
    display: flex;
    align-items: center;
}

.Nav-Img img{
    height: 5vh;
    margin-left: 1vw;
}

.Nav-Img img:hover {
    cursor: pointer;
    transition: all .3s;
    transform: scale(1.3);
}

.Home-Container {
    background: #2bb7f8;
    background: linear-gradient(to left, rgb(87, 87, 245), #84d6fc);
    overflow: hidden;
    top: 0;
    margin-top: -1vh;
    padding: 0;
    width: 100vw;
    height: 91vh;
    z-index: -1;
}

.Avatar {
    position: absolute;
    height: 90vh;
    bottom: 0;
    left: 20vw;
}

.Titulo {
    position: absolute;
    top: 25vh;
    left: 50vw;
}

.About {
    display: flex;
    align-items: center;
    background-color: black;
    color:rgb(182, 119, 241);
    width: 100vw;
    margin: 0;
}

.Titanic-Container {
    width: 40vw;
    height: 60vh;
    overflow: hidden;
}

.Titanic-Container img {
    width: 68vw;
}

@keyframes React {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.Titanic {
    height: 120vh;
    margin-left: -32vw;
    animation: React infinite 20s linear;
}

.Sobre {
    width: 60vw;
    margin-right: 10vw;
}

.Sobre p {
    font-size: 1.2rem;
}

.Projects {
    display: flex;
    justify-content: center;
    background-color: rgb(182, 119, 241);
    width: 100vw;
    padding-top: 10vh;
}

.Projects-Readme {
    max-width: 1050px;
}

.Projects-Readme p {
    font-size: 1.2rem;
}

.Carrusel-Container {
    width: 100vw;
    background-color: rgb(182, 119, 241);
    text-align: center;
    padding-bottom: 5vh;
}

.Skills {
    background-color: #f0f0f0;
    width: 100vw;
    padding-bottom: 10vh;
    padding-top: 10vh;
}

.Skills h2 {
    margin-left: 55px;
}

.Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.Skill-Display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    transition: background-color 2s, transform .5s;
    z-index: 0;
}

.Skill-Display:hover {
    transition: background-color .5s, transform .5s;
    transform: scale(1.2);
    box-shadow: 5px 5px 10px black;
    background-color: rgb(182, 119, 241);
    z-index: 1;
}

.Skill-Display img {
    width: 128px;
}

.Skill-Display span {
    font-weight: bold;
}